.Rproj.user
.Rhistory
.RData
.Ruserdata
oct_2022_raffle.png
Monthly_Raffle.Rproj
raffle_sentiment.R
raffle_script.R
focus-command-raffle.Rproj
Raffle_Words.csv
Raffle Oct 2022 - Sheet1.csv
New_Raffle_Oct_2022.csv
